@charset "UTF-8";

/*共通部分
--------------------------*/
html{
    font-size: 100px;
}

body{
    font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", "sans-serif";
    line-height: 1.7;
    color: #432;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
}

/*レイアウト*/
.align-center {
    text-align: center;
}

/*見出し*/
.font-english {
    font-family: 'Philoso', sans-serif;
    font-weight: normal;
}

.page-title {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
}

/*ヘッダー
--------------------------------*/
.page-header {
    padding-top: .5rem;
}

.logo {
    width: 210px;
}

.main-nav {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    font-size: 1.5rem;
    list-style: none;
}

.main-nav a {
    color: #0bd;
}

.cover {
    background-size: cover;
    background-position: center bottom;
    height: 800px;
}

.cover-home {
    background-image: url(../images/cover-home-l.webp);
}

.about {
    max-width: 736px;
    padding: 0 1.5rem;
    margin: 3rem auto 0;
}

.about p {
    margin-bottom: 3rem;
}

.page-title,
.heading-large {
    font-size: 3rem;
    text-align: center;
}

.page-title {
    margin-top: 2rem;
    line-height: 1.4;
}

.heading-large {
    margin-bottom: 1rem;
}
